---
layout: default
title: Home
---

{% for post in paginator.posts %}

<div class="row wow fadeIn" data-wow-delay="0.{{ forloop.index }}s">

  <div class="two columns">
    <figure class="valencia wow fadeInLeft" data-wow-delay="0.{{ forloop.index }}s" style="height:100px; width:100px; overflow:hidden; border-radius:50%; -moz-border-radius:50%; -o-border-radius:50% -webkit-border-radius:50%;">
      {% if post.image.artist %}
      <img src="{{ site.github.url }}/images/artists/{{ post.image.artist }}" alt="{{ post.author }}">
      {% else %}
      <img src="{{ site.github.url }}/images/artists/wanted.png">
      {% endif %}
    </figure>
  </div>

  <div class="ten columns">
    <h5>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.author }}, {{ post.title }}</a>
    </h5>
    <p>
      {{ post.content | strip_html | truncate: 50 }} <a href="{{ site.github.url }}{{ post.url }}">Voir les paroles</a>
    </p>
  </div>

</div>

{% endfor %}
