---
layout: default
title: Home
---

{% for post in paginator.posts %}

<div class="row">

  <div class="two columns">
    <figure class="reyes" style="height:100px; width:100px; overflow:hidden; border-radius:50%; -moz-border-radius:50%; -o-border-radius:50% -webkit-border-radius:50%;">
      {% if post.image.artist %}
      <img src="{{ site.github.url }}/images/artists/{{ post.image.artist }}">
      {% else %}
      <img src="{{ site.github.url }}/images/artists/wanted.png">
      {% endif %}
    </figure>
  </div>

  <div class="ten columns">
    <h5>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.author }} - {{ post.title }}</a>
    </h5>
    <p>
      {{ post.content | strip_html | truncate: 50 }} <a href="{{ site.github.url }}{{ post.url }}">Découvrir davantage</a>
      <span class="post-date" style="margin-top:3px"><i class="fa fa-user" aria-hidden="true"></i> {{ post.author }} </span>
    </p>
  </div>

</div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
  <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
  <span class="pagination-button">Newer</span>
  {% endif %}

</div>
